process {

/* Executor parameters */
//executor='condor'
maxForks = 4
//        errorStrategy='retry'
//errorStrategy = 'ignore'

}

params {

/* parameters for trimming */

pe=true // is the data paired end, or single end (cannot be mixed...)

trim_avgqual=30
trim_leading=0
trim_trailing=0
trim_slide_size=6
trim_slide_qual=30
trim_minlen=38
trim_headcrop=20 //  The number of bases to remove from the start of the read.
trim_crop=40 // The number of bases to keep, from the start of the read.

}
/* Docker params, comment to run without docker*/
 process.container = 'fastq_qc_processing'
 docker.enabled = true
 docker.runOptions = '-u $(id -u):$(id -g)'
